<a href="https://colab.research.google.com/github/alimadriz05/analisisdedatos/blob/main/Practica_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = { 'Country': ['Costa Rica', 'India', 'Brazil'], 'Capital': ['San Jose', 'New Delhi', 'Brasilia'], 'Population': [4500000, 1303171035, 207847528]}
df= pd.DataFrame(data, columns =['Country', 'Capital', 'Population'])
print(df)

      Country    Capital  Population
0  Costa Rica   San Jose     4500000
1       India  New Delhi  1303171035
2      Brazil   Brasilia   207847528

In [ ]:
print("Promedio de los elementos del vector")
Suma=0
Media=0
Temp=[]
print("Ingrese cantidad de Temperaturas")
N=int(input())

for i in range(N):
  temperatura=float(input("Ingrese la temperatura "))
  Temp.append(temperatura)
  Suma=Suma+Temp[i]

Media=Suma/N
print(Media)

Promedio de los elementos del vector
Ingrese cantidad de Temperaturas
1
Ingrese la temperatura 23.4
23.4

In [ ]:
import pandas as pd

mascota = pd.DataFrame (
    data={
        'name': ['Minino', 'Milo', 'Snoopy', 'Blanco', 'LittlePonny'],
        'type': ['gato', 'perro', 'perro', 'perro', 'caballo']
    },
    index=[71, 42, 11, 98, 42]
)

visitas = pd.DataFrame(
    data={
        'pet_id': [42, 31, 71, 42, 98, 42],
        'fecha' : ['2019-03-15', '2019-03-15', '2022-04-15', '2023-05-07', '2019-03-15', '2020-06-05'],
        'costo' : [2000, 5000, 1000, 5000, 6000, 10000]
    }
)

#print(visitas)

mascota.index.rename('pet_id', inplace=True)  #agregando otra columna como nombre
visitas.index.rename('visit_id', inplace=False)
# print(visitas)

print(mascota.query('pet_id==71')) #consulta un id en especifico

print(visitas['costo'].sum()) #sirve para sumar montos
print(visitas['costo'].min()) #extrae el monto minimo 
print(visitas['costo'].max()) #extrae el monto maximo

#print(visitas)

print(visitas.sort_values(by='costo', ascending=False)) #sirve para ordenar 
tienda=pd.merge(mascota, visitas, how='cross')  #une datasets 

print(tienda)

          name  type
pet_id
71      Minino  gato
29000
1000
10000
   pet_id       fecha  costo
5      42  2020-06-05  10000
4      98  2019-03-15   6000
1      31  2019-03-15   5000
3      42  2023-05-07   5000
0      42  2019-03-15   2000
2      71  2022-04-15   1000
           name     type  pet_id       fecha  costo
0        Minino     gato      42  2019-03-15   2000
1        Minino     gato      31  2019-03-15   5000
2        Minino     gato      71  2022-04-15   1000
3        Minino     gato      42  2023-05-07   5000
4        Minino     gato      98  2019-03-15   6000
5        Minino     gato      42  2020-06-05  10000
6          Milo    perro      42  2019-03-15   2000
7          Milo    perro      31  2019-03-15   5000
8          Milo    perro      71  2022-04-15   1000
9          Milo    perro      42  2023-05-07   5000
10         Milo    perro      98  2019-03-15   6000
11         Milo    perro      42  2020-06-05  10000
12       Snoopy    perro      42  2019-03-15   2000
13       Snoopy    perro      31  2019-03-15   5000
14       Snoopy    perro      71  2022-04-15   1000
15       Snoopy    perro      42  2023-05-07   5000
16       Snoopy    perro      98  2019-03-15   6000
17       Snoopy    perro      42  2020-06-05  10000
18       Blanco    perro      42  2019-03-15   2000
19       Blanco    perro      31  2019-03-15   5000
20       Blanco    perro      71  2022-04-15   1000
21       Blanco    perro      42  2023-05-07   5000
22       Blanco    perro      98  2019-03-15   6000
23       Blanco    perro      42  2020-06-05  10000
24  LittlePonny  caballo      42  2019-03-15   2000
25  LittlePonny  caballo      31  2019-03-15   5000
26  LittlePonny  caballo      71  2022-04-15   1000
27  LittlePonny  caballo      42  2023-05-07   5000
28  LittlePonny  caballo      98  2019-03-15   6000
29  LittlePonny  caballo      42  2020-06-05  10000